:host {
    position: relative;
    box-sizing: border-box;

    overflow: hidden;

    font-size: 14px;

    color: #ddd;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;
}

.content:focus {
    outline: none;
}

:host([row])>.content {
    flex-direction: row;
}
