* {
    user-select: none;
    -webkit-user-select: none;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 3px;
    padding: 0px;
    border: 0px;

    font-size: 13px;

    font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, Arial, sans-serif;
    overflow: hidden;

    color: #ddd;
    background-color: #333;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3px solid transparent;
    background: rgba(255,255,255,0.3);
    background-clip: content-box;
}
::-webkit-scrollbar-track {
    /* background: rgba(255,255,255,0.1); */
    background: transparent;
    /* background: #474747; */
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-button {
    display: none;
}

editor-tab.active + editor-tab span.left-tab-border {
    display: inline-block;
    border-left: 1px solid #212121;
    height: 20px;
}
