@element: 'prop';
@import (multiple) 'theme.less';

:host {
  .layout-vertical();
  .layout-children(strecth, center);

  position: relative;
  box-sizing: border-box;

  outline: 0;
}

.wrapper {
  position: relative;
  box-sizing: border-box;

  width: 100%;
  min-height: 24px;
  margin: 3px 0px;

  .layout-horizontal();
  .layout-children(center, flex-start);
}

span.label {
  box-sizing: border-box;

  width: 25%;
  margin-right: 10px;
  flex-shrink: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 1em;
}
