@element: 'prop';
@import (multiple) 'theme.less';

@import url('editor-framework://dist/css/globals/fontello.css');

:host {
  .layout-vertical();
  .layout-children(stretch, center);

  position: relative;
  box-sizing: border-box;

  outline: 0;
}

.wrapper {
  position: relative;
  box-sizing: border-box;

  width: 100%;
  min-height: 24px;
  margin: 3px 0px;

  .layout-horizontal();
  .layout-children(center, flex-start);
}

.wrapper:hover {
  color: #09f;
}

:host([selected]) {
  .wrapper {
    color: @el_focus_color;
  }
}

.label {
  .layout-horizontal();
  .layout-children(center, flex-start);

  margin-right: 10px;
  flex-shrink: 0;
  font-size: 1em;

  box-sizing: border-box;
  width: 25%;
  min-width: 100px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  width: 10px;
  margin: 0px;
}

.fold {
  margin-right: 3px;
  visibility: hidden;

  cursor: pointer;
}

:host(.fixed) {
  .label {
    width: auto;
    min-width: auto;
  }

  .fold {
    display: none;
  }
}

:host([foldable]) {
  .fold {
    visibility: visible;
  }
}

:host(.red), :host(.green), :host(.blue), :host(.gray) {
  .text {
    font-weight: bold;
    padding: 0px 5px;
    border-radius: 3px;
    color: #ddd;
  }
}

:host(.red) {
  .text {
    background: @red;
  }
}

:host(.blue) {
  .text {
    background: @blue;
  }
}

:host(.green) {
  .text {
    background: @green;
  }
}

:host(.gray) {
  .text {
    background: #333;
  }
}

::content > ui-prop {
  margin-right: 1.5em;
}

::content > ui-prop:last-child {
  margin-right: 0;
}
